pages:
  stage: deploy
  script:
    - echo "Pages accessible through ${CI_PAGES_URL}/${PAGES_PREFIX}"
    - mkdir .public
    - cp -r extensions/5-cwv.html .public/index.html
    - mv .public public
  artifacts:
    paths:
    - public
  only: 
    - master
